$primary: #1D0056;
$white: #FFFFFF;
$yellow: #FFBE06;
$gray: #707070;
$black: #000000;
$light-white: #F2F2F2;
$light-white2: #F9F9F9;
$light-white3: #E1E1E1;
$light-purple: #CCC6E3;
$light-purple2: #C7C1DD;
$gray2: #CBCBCB;
$gray3: #E0E0E0;
$gray4: #575757;
$gray5: #EAEAEA;
$gray6: #898989;
$deep-purple: #16023c;
$dark-purple: #4008ac;
$red: #e85c41;

$base-url: '../' !default;